################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleMath/.vs/ConsoleMath/v16/Browse.VC.opendb
